body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
}

.delete-btn {
  position: absolute;
  left: 80%;
  margin-top: 5px;
}
